body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #b2e1f9, #fef6d9);
    text-align: center;
}
.role-container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 30px;
}
img {
    width: 100px;
    margin-bottom: 15px;
}
h2 {
    color: #4a8cc7;
    margin-bottom: 10px;
}
p {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}
button {
    background-color: #4a8cc7;
    border: none;
    color: white;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    transition: 0.3s;
}
button:hover {
    background-color: #367bb3;
}