body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #b2e1f9, #fef6d9);
    flex-direction: column;
    text-align: center;
}
img {
    width: 120px;
    margin-bottom: 20px;
}
h1 {
    color: #4a8cc7;
    font-size: 26px;
}
p {
    color: #777;
    font-size: 16px;
}